.music-article{
	h1{
		margin-top:20px;
	}
	h1, h2{
		text-align:center;
	}
	p{
		font: {
			family: $article-paragraph-font;
			size: 1.3rem;
		}
		line-height: 2rem;
		@media all and (max-width: $mediums-medias) {
			font-size: 1.1rem;
		}
		@media all and (max-width: $littles-medias) {
			font-size: 1rem;
		}
	}
	.music-video{
		margin-top:30px;
		position:relative;
		padding-bottom: 100px;
		.background{
			background: {
				size: cover;
				position:50% 75%;
			}
			height:$height-article;
			width:auto;
			filter: blur(0px);
			@media all and (max-width: $mediums-medias) {
				height: $height-article-medium;
			}
		}
		video{
			width:40%;
			margin-left:30%;
			position: absolute;
			bottom:0;
			z-index: 9999;
			@media all and (max-width: $mediums-medias)
			{
				width:60%;	
				margin-left:20%;
			}
			@media all and (max-width: $littles-medias)
			{
				width:90%;
				margin-left:5%;
			}
		}
		@media all and (max-width: $mediums-medias) {
			padding-bottom: 180px;
		}
	}
	nav {
		margin-top: 150px;
		padding-top: 20px;
		padding-bottom: 10px;
		background-color: $main-color;
		#arrow-nav {
			height: 20px;
			width: 20px;
			background: {
				image: url('../images/icons/arrow.svg');
				size: contain;
			}
			transform: rotate(-90deg);
			margin-left: auto;
			margin-right: 10%;
			transition: all 0.3s ease-in-out;
			&.close {
				transform: rotate(90deg);
			}
		}
		#nav-links {
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			height: 100px;
			width: calc(100% - 20px);
			transition: all 0.3s ease-in-out;
			position: fixed;
			bottom: 79px;
			background-color: $main-color;
			p {
				font-size: 1.1em;
				letter-spacing: 0.3em;
				line-height: 1rem;
				a {
					color: inherit;
					text-transform: uppercase;
					&:hover {
						color: white;
					}
				}
				@media all and (max-width: $mediums-medias) {
					@include display-flex;
					@include flex-direction(column);
					@include align-items(center);
					font-size: 0.7em;
				}
			}
			&.hide {
				height: 0;
				opacity:0;
			}
			@media all and (max-width: $mediums-medias)	{
				height: 140px;
			}
		}
	}
}