@mixin button($background-color, $font) {
    padding: .5rem;
    width: 8rem;
    border: none;
    display: block;
    margin: .5rem auto 0;
    background-color: $background-color;
    border: outset $background-color;
    font: {
        family: $font;
        size: 1rem;
        weight:bold;
    }
    text: {
        align: center;
        transform: uppercase;
    }
    &:hover {
        border: none;
        padding: 0.7rem;
    }
    @media all and (max-width: $littles-medias){
        width:80%;
    }
}