html{
	width:100%;
}

$main-font: 'Srisakdi', cursive;
$paragraph-font: 'Lato', sans-serif;
$main-color: #816d13;
$littles-medias:460px;
$width-article:300px;
$height-article:390px;
$number-article-by-slide: 2;
$width-slideshow-container: $width-article * $number-article-by-slide;