#slideshow article{
	position:relative;
	float:left;
	width: $width-article;
	height:$height-article;
	h1, p{
		text: {
        	align: center;
    	}
	}
	.image-container{
		margin-top:0;
	}
	img{
		width: $width-article - 40px;
		height: 225px;
		size: cover;
		margin:auto;
	}
	.button-see{
		@include button($main-color, $paragraph-font);
	}
	@media all and (max-width: $littles-medias){
        width:90%;
        margin:auto;
        img{
        	width:100%;
        }
    }
}